<div class="log-in container" ng-controller="LoginCtrl">

  <h2>The Number</h2>

  <form class="form-horizontal">
    <fieldset>
      <legend>Please Log In</legend>

      <div class="form-group row">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          <input class="form-control"
                 placeholder="Account email"
                 type="text"
                 ng-model="email">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
          <input class="form-control"
                 placeholder="Password"
                 type="password"
                 ng-model="pass">
        </div>
      </div>

      <div class="form-group row" ng-cloak ng-show="createMode">
        <label class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
          <input class="form-control"
                 placeholder="Password"
                 type="password"
                 ng-model="confirm">
        </div>
      </div>

      <alert type="{{ msg.type }}" ng-show="msg">
        {{ msg.text }}
      </alert>

    </fieldset>

    <div class="form-actions">
      <div class="row">
        <div class="col-xs-12">
          <div class="frequent">
            <button class="btn btn-primary" type="submit" ng-click="login(email, pass)" ng-if="!createMode">Log In</button>
            <button class="btn btn-default" type="button" ng-click="createMode = true" ng-hide="createMode">Register</button>
            <button class="btn btn-primary" type="submit" ng-cloak ng-if="createMode" ng-click="createAccount()">Create Account</button>
            <button class="btn btn-default" type="button" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
          </div>

          <div class="infrequent">
            <button class="btn btn-default" type="button" ng-click="resetPassword(email)" ng-hide="createMode">Reset Password</button>
          </div>

        </div>
      </div>
    </div>

  </form>

</div>